<div class="container">
    {{> header}}
        <h1>About Page</h1>
        <p>This is my first ever SPA project. It is dificult yet, but hope soon everything became clear to me! :)))</p>
</div>
{{> footer}}