<nav>
    <ul>
        {{#if loggedIn}}
        <li><a href="#/home">Home</a></li>
        <li><a href="#/catalog">Cinema</a></li>
        <li><a href="#/create">Add Movie</a></li>
        <li><a href="#/catalog">My Movies</a></li>
        <li class="right"><a href="#/home">Logout</a></li>
        <li class="right">Welcome, user!</li>
        {{else}}
        <li><a href="#/home">Home</a></li>
        <li class="right"><a href="#/register">Register</a></li>
        <li class="right"><a href="#/login">Login</a></li>
        {{/if}}
    </ul>
</nav>